* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #121212;
  color: white;
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: #000000;
  width: 340px;
}
.main-content {
  background-color: #121212;
  flex: 1;
  margin: 5px;
  border-radius: 5px;
  overflow: auto;
}
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.nav {
  display: flex;
  background-color: #121212;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
}
.nav-option {
  background-color: #121212;
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.2rem;
  background-color: #121212;
  margin-right: 0.5rem;
}
.nav-option a {
  font-size: 1rem;
}
a {
  text-decoration: none;
  background-color: #121212;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library {
  height: 100%;
  background-color: #121212;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
}
.library-option img {
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}
.icon {
  font-size: 1.25rem;

  display: flex;
}
.icon i {
  opacity: 0.7;
  margin-right: 1rem;
}
.icon i:hover {
  opacity: 1;
}
